<nav class="navbar">
    <div class="container">
    <h1 (click)="goToHomePage()">{{ title }}</h1></div>

  <div class="container-profile">
    <nav>
      <!-- <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a> -->
      <ng-container *ngIf="currentUser">
        <span class="user-name" (click)="viewProfile()">Hello {{currentUser.username}} {{ currentUser.firstName }} {{currentUser.lastName}} !</span>
        <button class="user-profile btn btn-light" style="background: lightgray;font-family: cursive;" routerLink="/my-books" routerLinkActive="active">My Books</button>
        <button class="user-profile btn btn-light" style="background: lightgray;font-family: cursive;" routerLink="/add-book" routerLinkActive="active">Add Book</button> 
        <button class="btn btn-light" style="background: lightgray;font-family: cursive;" (click)="logout()">Logout</button>
      </ng-container>
      <ng-container *ngIf="!currentUser">
        <button  *ngIf="showLoginBtn" (click)="goToLoginPage()" class="btn btn-light" style="background-color: lightgray;font-family: cursive;">Login</button>
        <button *ngIf="showRegisterBtn" (click)="goToRegisterPage()" class="btn btn-light" style="background-color: lightgray;font-family: cursive;">Register</button>
      </ng-container>
    </nav>
  </div>
</nav>

<main>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>

