<nav class="navbar">
    <div class="container">
    <h1 (click)="goToHomePage()">{{ title }}</h1></div>

  <div class="container-profile">
    <nav>
      <!-- <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a> -->
      <ng-container *ngIf="currentUser">
        <!-- <a routerLink="/my-blogs" routerLinkActive="active">My Blogs</a>
        <a routerLink="/create-blog" routerLinkActive="active">Create Blog</a> -->
        <span class="user-profile" (click)="viewProfile()">{{ currentUser.firstName }} {{currentUser.lastName}} !</span>
        <button class="btn btn-light" style="background: lightgray;font-family: cursive;" (click)="logout()">Logout</button>
      </ng-container>
      <ng-container *ngIf="!currentUser">
        <button  *ngIf="showLoginBtn" (click)="goToLoginPage()" class="btn btn-light" style="background-color: lightgray;font-family: cursive;">Login</button>
        <button *ngIf="showRegisterBtn" (click)="goToRegisterPage()" class="btn btn-light" style="background-color: lightgray;font-family: cursive;">Register</button>
      </ng-container>
    </nav>
  </div>
</nav>

<main>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>

