<div class="card profile-card-main" >
  <h2>User Profile</h2>

  <ng-container>
  <div *ngIf="currentUser" class="profile-card">
    <img src="assets/profile3.jpg" class="image">
    <div class="card-header">
        Name <h3>{{ currentUser.firstName }} {{ currentUser.lastName }}</h3>
        Email <h3>{{ currentUser.email }}</h3> 
    </div>
    <div class="card-body">
      <!-- <p><strong>Role:</strong> {{ user.role }}</p -->
      <!-- <p><strong>Joined:</strong> {{ user.joinedDate | date }}</p> -->
    </div>
  </div>
  </ng-container>
</div>

