<div class="card" style="max-width: 500px; margin: 2rem auto;">
  <h2>User Profile</h2>
  <!-- {{ currentUser | json}} -->
  <ng-container>
  <div *ngIf="currentUser" class="profile-card"> <!-- Use .stop to prevent immediate closing -->
    <img src="assets/profile2.png" style="width: 100px;height: 100px;">
    <div class="card-header">
        Name <h3>{{ currentUser.firstName }} {{ currentUser.lastName }}</h3>
        Email <h3>{{ currentUser.email }}</h3> 
    </div>
    <div class="card-body">
      <!-- <p><strong>Role:</strong> {{ user.role }}</p -->
      <!-- <p><strong>Joined:</strong> {{ user.joinedDate | date }}</p> -->
    </div>
  </div>
  </ng-container>
</div>

